<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 登陆的查询用户表的xml -->
  <mapper namespace="s.dao.mybatis">
  <!--  DAO 层 接口所在的包 -->
  
  <resultMap type="z.entity.po.User" id="qqq" autoMapping="true">
  		<id column="userid" property="userid"/>
  </resultMap>
  
  <resultMap type="z.entity.po.User" id="User" autoMapping="true">
  		<id column="userId" property="userId"/>
  </resultMap>
  
  <select id="queryUserList" resultMap="User" parameterType="z.entity.po.User">
    SELECT USERID AS userId,
		   NAME AS userName,
	  FROM user
	  order by USERID asc
  </select>
 
</mapper>
  
  