/* CSS Document */

body{
    margin:0 auto;
    width:700px;
}

.formarea{
    margin:0 auto;
    width:670px;
}

.formhead{
    width:100%;
    height:80px;
    padding-top:20px;
}
.formheadtext{
    margin:0 auto;
    width:400px;
    height:60px;
    line-height:50px;
    text-align:center;
}

.inputare {
    border: 1px solid #3C8DC4;
    width: 320px; 
    height: 35px;
     margin: 0px; 
     padding: 5px; 
    float: left;
}

.inputbox {
    width: 150px;
    height: 30px;
    float: right;
}

.inputtext {
    text-align:right;
    width: 150px;
    height: 30px;
    float: left;
}

.formfoot{
    width:100%;
    height:60px;
    padding-top:20px;
}

.inputsubmit {
    float: left;
}
