<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc 
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd"
        >
   	
	
     <aop:aspectj-autoproxy proxy-target-class="true" /> 
    
     <context:component-scan base-package="profilePro" use-default-filters="false"> 
         <context:include-filter type="annotation" expression="org.springframework.stereotype.Component"/> 
         <context:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/> 
         <context:include-filter type="annotation" expression="org.springframework.stereotype.Service"/> 
     </context:component-scan> 
	
 	<context:annotation-config /> 

<!-- 	 加载配置文件  -->
	
 	<bean id="propertiesService" class="utils.PropertyUtil"> 
         <property name="filePaths"> 
 		    <list> 
 			     <value>classpath:conf/2_properties/main-setting.properties</value> 
 			</list> 
 		</property> 
     </bean> 
    
<!--     log4j   -->
 	<bean id="loggingInitialization" 
 		class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"> 
 		<property name="targetClass" 
 			value="com.suning.framework.log.util.LogbackConfigurer" /> 
 		<property name="targetMethod" value="initLogging" /> 
 		<property name="arguments"> 
 			<list> 
 				<value>classpath:8_conf/log/main_${envName}_logging.xml</value> 
 			</list> 
 		</property> 
 	</bean>	    
 	
<!--  	数据库 -->
	<bean id="dalClient" class="utils.DBUtil">
		<!-- SQL的Xml配置路径 -->
		<property name="resources" value="classpath*:8_conf/sqlMap/sqlMap_*.xml" />
		<!-- 定义默义的数据源 -->
		<property name="defaultDataSource" ref="dataSource" />
	</bean>
		
</beans>