/* CSS Document */

/*
#treebody, #catalogbody, #contentbody {
	background:url(../image/background.jpg);
	background-size:100% 100%;
}*/

#treebody, #catalogbody, #contentbody{
	background:url(../image/gray.jpg);
	
}