<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wh.eas.sys.dao.FileProcessMapper" >
  
  <select id="getFileInfoByContidions" parameterType="java.util.HashMap" resultType="java.util.HashMap" >
    SELECT
	 *
	FROM
	 fileinfo
	WHERE
	 1=1
	 AND file_org_name = #{fileName} 
	 AND file_create_time = #{lastModifyTime}
	 AND file_origin_type = #{fileUploadType}
	 AND file_size = #{fileSize}
	 AND create_user_id= #{uploadUserId}
	 AND is_del = 0
  </select>
  
  <insert id="addFileByInfo" parameterType="java.util.HashMap" >
    INSERT INTO fileinfo 
    (
		id,
		file_org_name,
		file_new_name,
		file_size,
		file_create_time,
		file_origin_type,
		file_md5,
		create_user_id,
		create_time,
		update_time,
		is_del
	)
	VALUES
	(
		#{Id}, 
		#{fileName}, 
		#{newUniqueFileName},
		#{fileSize}, 
		#{lastModifyTime},
		#{fileUploadType},
		"", 
		#{uploadUserId}, 
		NOW(),
		NOW(),
		0
	)
  </insert>
  
  <update id="deleteFileByInfo" parameterType="java.util.HashMap" >
	UPDATE fileinfo
		SET  is_del = 1
	WHERE
	    file_org_name = #{fileName} 
		AND file_create_time = #{lastModifyTime}
		AND file_origin_type = #{fileUploadType}
		AND file_size = #{fileSize}
		AND create_user_id= #{uploadUserId}
		AND is_del =0
  </update>
  
  <select id="getFinInfobyId" parameterType="java.lang.String" resultType="java.util.HashMap" >
    SELECT
	 *
	FROM
	 fileinfo
	WHERE
	 1=1
	 AND id = #{fileId}
	 AND is_del =0
  </select>
  
</mapper>