<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>profileWebPro</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  
    <!-- Spring MVC配置 -->
	<servlet>
		<servlet-name>SpringMvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<!-- 可以自定义servlet.xml配置文件的位置和名称，默认为WEB-INF目录下，名称为[<servlet-name>]-servlet.xml，如spring-servlet.xml
	    <init-param>
	        <param-name>contextConfigLocation</param-name>
	        <param-value>/WEB-INF/spring-servlet.xml</param-value>&nbsp; 默认
	    </init-param>
	    -->
		<!-- 指定启动顺序，为1表示该servlet会随servlet容器一起启动。 -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>SpringMvc</servlet-name>
		<!-- 指定拦截所以以spring结尾的请求。 -->
	    <url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>  
        <servlet-name>SpringMvc</servlet-name>  
        <url-pattern>*.SprAjax</url-pattern>  
    </servlet-mapping>  
	
	<!-- 这里的顺序是  web.xml -> dispatcherExample-servlet.xml(引导到某一个包下面) ->     某个包下面的众多的类  (含标配标签)  -->
	<!--                                                                              |                -->
	<!--                                                                              v                -->
	<!-- 具体的jsp页面                <-   dispatcherExample-servlet.xml(将文件名主体进行扩展) <- 某个包下面的众多的类  (返回一个文件名主体)-->
	
</web-app>